@font-face {
  font-family: "Astro Space";
  src: url(fonts/AstroSpace-0Wl3o.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  background-image: url("../src/space_bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
}
html,
body {
  width: 100%;
}

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-image: url('data:image/svg+xml;utf8,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 1920 80" xmlns="http://www.w3.org/2000/svg"><path d="m0 71 313.687 6.717 154.5 2.283 120-4.568 39-.761 31.5 2.284 52.5-1.523 496.5 1.523 124.5-3.806 73.5 4.568 73.5-3.046 354 3.807 55.5-1.523 31.313-5.955v-71h-1920z" fill="%23f8f8f8"/></svg>');
  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
}

.masthead h1 {
  font-family: "Astro Space", sans-serif;
  padding-bottom: 0.6em;
  font-size: 1.7em;
}

.searchForm {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
}

input[type="text"] {
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 18em;
  color: black;
  border-radius: 20px;
  box-shadow: 0 0 0 0 transparent inset;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #446ffe;
}

.loadingDiv {
  margin: 0 auto;
}
.loadingImg {
  margin: 0 auto;
  width: 100%;
}
/* CARD */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  position: relative;
  margin: 0 auto;
  width: 98%;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  margin-bottom: 3em;
  box-shadow: 0px 3px 0px rgb(205, 205, 205);
  background-color: #fff;
  padding-bottom: 2em;
}

.cardContent {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.cardContent img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding-bottom: 1.5em;
  height: 30rem;
  object-fit: cover;
}

.cardContent p:last-of-type {
  padding-bottom: 2em;
}

.title {
  font-family: "Astro Space", sans-serif;
  font-size: 1.5em;
}
.date {
  padding-top: 1em;
  padding-bottom: 1em;
  font-style: italic;
  font-size: 1.04em;
  color: #656565;
  font-weight: 800;
}
span {
  font-weight: 500;
}

.heartContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: -35px;
}
/* landscape phones */
@media only screen and (min-width: 576px) {
  .card {
    transform: scale(0.9);
    margin-bottom: 0;
  }
  input[type="text"] {
    width: 25em;
  }
}
/* tablets */
@media only screen and (min-width: 768px) {
  .cardContainer {
    margin: 0 auto;
  }
  .card {
    width: 23em;
    transform: scale(1);
    margin-bottom: 3em;
    flex-grow: 0.35;
  }
  .cardContent img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  input[type="text"] {
    width: 30em;
  }
}

@media only screen and (min-width: 950px) {
  .card {
    width: 27em;
  }
}
/* laptops */

@media only screen and (min-width: 992px) {
  .card {
    flex-grow: 0.2;
  }
  input[type="text"] {
    width: 35em;
  }
}
/* desktops, large desktops */
@media only screen and (min-width: 1200px) {
  .cardContainer {
    max-width: 1500px;
  }
  input[type="text"] {
    width: 35em;
    margin-bottom: 2em;
  }
}
